
body {
    overflow-x: hidden;
  }
 
  /* Style for the  nav, and logo */
 
  .main-nav {
   background-color: white;
   box-shadow: 0 2px 4px rgba(0,0,0,0.1);
   
   
 }
 
 .main-nav .container {
   display: flex;
   justify-content: space-between;
   align-items: center;
   max-width: 1200px;
   margin: 0 auto;
   padding: 10px 20px;
  
   
 }
  
 
  .logo img {
   max-width: 120px;
   height: auto;
   
  }
 
  .navmenu {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
  }
 
  .navmenu a {
    color: #2c2c2c;
    font-size: 16px;
    text-transform: capitalize;
    padding: 10px 20px;
    font-weight: 400;
    transition: all .42s ease;
    text-decoration: none;
 
  }
 
  .navmenu a:hover {
    color: #ee1c47;
 
  }

  /* Style for hero section */
#hero {
  background-image: url(../Assets/Images/bakery\ hero.jpg);
  width: 100vw;
  height: 100vh;
  background-size: 100% 100%;

}

#hero-overlay {
  height: 100%;
  width: 100%;
  color: rgb(255, 255, 255);
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  row-gap: 20px;

}
.about-image img {
 width: 50%;
}